.LanguageOption {
  display: flex;
  align-items: center;
}

.LanguageOption span {
  display: inline-block;
}

.LanguageOption-dropdownOption {
  padding: 0 0 10px 15px;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.LanguageOption-flag {
  width: 30px;
  padding-right: 10px;
}