.LanguageButton {
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  font-size: .5rem;
  border: none;
  color: white;
}

img {
  width: 30px;
}

p {
  margin: 0;
}

.active {
  border: 1px solid yellow;
}