.Translator {
  display: flex;
  flex-flow: column;
  height: 98vh;
}

/*============================================================*/
/******************** HEADER AND DROPDOWN *********************/
/*============================================================*/

.Translator-languageSelector {
  padding-top: 15px; 
  padding-bottom: 15px;
  text-align: center; 
  background-color: rgb(56, 3, 56);
  color: white;
}

/*============================================================*/
/********************* TRANSLATION TEXTS **********************/
/*============================================================*/

.ui.grid {
  margin-top: 0;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.Translator-texts{
  background-color: #DDDDDD;
  flex-grow : 1;
}

/*============================================================*/
/************************** COLUMNS ***************************/
/*============================================================*/

.Translator-column {
  background-color: rgb(121, 7, 167);
  
}

/* this styles the .Translator-column; 
need to include this selector to override specificity 
of the semantic-ui package */
.ui.stackable.divided:not(.vertically).grid>.column:not(.row), .ui.stackable.divided:not(.vertically).grid>.row>.column {
  display: flex;
  justify-content: center;
}

.Translator-column-inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgb(236, 241, 236);
}

/*============================================================*/
/************************ AVATAR IMAGE *************************/
/*============================================================*/

.Translator-avatar {
  width: 30%;
  height: auto;
  align-self: center;
}

.Translator-speechBlurb,
.Translator-speechBlurb-initial {
  width: 50%;
  height: 150px;
  background-color: yellow;
  border-radius: 15px;
  font-size: 1rem;
  padding: 10px;
  overflow: auto;
  text-align: center;
}

